# add these lines at the end of your .gitignore file

# Dependency directories
node_modules/
/dist/
/dist-ssr/
/coverage/

# Vue build artifacts
*.local

# Cypress directories
/cypress/videos/
/cypress/screenshots/
